{% extends "templates/layout.jinja" %}

{% block title %} Category {% endblock %}

{% block content %}
{% include "templates/blocks/category.jinja" %}
{% include "templates/blocks/sort.jinja" %}
{% endblock %}
