<section class="hero">
  <div class="hero__container container">
      <h1 class="hero__heading">
        Austin’s Favorite
        <b>Online smoke shop</b>
        <div>offering the best prices</div>
      </h1>
      <div class="hero__wrapper-btn">
        <a class="hero__btn btn" href="#" about="_blank">Shop austin vape and smoke</a>
      </div>
      <div class="hero__wrapper">
        <ul class="hero-list">
          <li class="hero-list__item">
            <svg class="hero-list__icon" width="24" height="30">
              <use xlink:href="img/svg.svg#descr-icon1"></use>
            </svg>
            <h3 class="hero-list__title">Vetted products only</h3>
            <p class="hero-list__text">We sell what we believe in</p>
          </li>
          <li class="hero-list__item">
            <svg class="hero-list__icon" width="30" height="30">
              <use xlink:href="img/svg.svg#descr-icon2"></use>
            </svg>
            <h3 class="hero-list__title">Competitive prices</h3>
            <p class="hero-list__text">With great variety and selection</p>
          </li>
          <li class="hero-list__item">
            <svg class="hero-list__icon" width="32" height="30">
              <use xlink:href="img/svg.svg#descr-icon3"></use>
            </svg>
            <h3 class="hero-list__title">We are like a family</h3>
            <p class="hero-list__text">Focus on customer service</p>
          </li>
          <li class="hero-list__item">
            <svg class="hero-list__icon" width="32" height="30">
              <use xlink:href="img/svg.svg#descr-icon3"></use>
            </svg>
            <h3 class="hero-list__title">Fast response</h3>
            <p class="hero-list__text">Our response is amazingly fast</p>
          </li>
        </ul>
      </div>
  </div>
</section>
