<section class="locations" id="locations">
    <div class="container locations__container">
        <h2 class="locations__heading">Visit Our Outstanding Vape Shops</h2>
        <div class="locations__wrapper">
            <div class="locations__wrapper-list">
                <ul class="locations__list">
                    <li class="locations__item">
                        <a class="locations__link" href="#">
                            <div class="locations__box">
                                <h3 class="locations__title">Downtown</h3>
                                <div class="locations__adress">1601 S. 1st Street, Austin TX 78704</div>
                                <div class="locations__text">Mon - Fri 9 AM - 9 PM, Sat - Sun 9 AM - 9 PM</div>
                            </div>
                            <svg width="25" height="25">
                                <use xlink:href="img/svg.svg#map-marker"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="locations__item">
                        <a class="locations__link" href="#">
                            <div class="locations__box">
                                <h3 class="locations__title">South First</h3>
                                <div class="locations__adress">4200 S. 1st Street, Austin TX 78704</div>
                                <div class="locations__text">11 AM - 7 PM 7 days a week</div>
                            </div>
                            <svg width="25" height="25">
                                <use xlink:href="img/svg.svg#map-marker"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="locations__item locations__item--active">
                        <a class="locations__link" href="#">
                            <div class="locations__box">
                                <h3 class="locations__title">Westgate</h3>
                                <div class="locations__adress">4525 Westgate Blvd, Austin TX 78704</div>
                                <div class="locations__text">Mon - Fri 9 AM - 9 PM, Sat - Sun 9 AM - 9 PM</div>
                            </div>
                            <svg width="25" height="25">
                                <use xlink:href="img/svg.svg#map-marker-green"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                <a class="locations__btn-desktop link" href="#" target="_blank">Get directions</a>
            </div>
            <div class="map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3447.2355288314543!2d-97.80302338488049!3d30.230359281815048!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x865b4b39308bb97b%3A0xc5348df12dc65c77!2zNDUyNSBXZXN0IEdhdGUgQmx2ZCwgQXVzdGluLCBUWCA3ODc0NSwg0KHQqNCQ!5e0!3m2!1sru!2sru!4v1657177358755!5m2!1sru!2sru"
                    width="375" height="200" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
    <a class="locations__btn-phone link" href="#" about="_blank">Get directions</a>
</section>
