<section class="message-section">
    <div class="container message-section__container">
        <h2 class="message-section__title">The Best Vape Experience awaits! Get in Touch With Us Today</h2>
        <div class="message-section__wrapper">
            <form class="message-form" action="#" method="post">
                <fieldset class="message-form__group">
                    <legend class="message-form__title u-visuallyhidden">Leave a message</legend>
                    <div class="message-form__inner message-form__inner--name">
                        <label class="u-visuallyhidden -hidden" for="name">Name</label>
                        <input class="message-form__field" type="text" id="name" placeholder="Name" name="name">
                    </div>
                    <div class="message-form__inner message-form__inner--email">
                        <label class="u-visuallyhidden -hidden" for="email">Email</label>
                        <input class="message-form__field" type="email" id="message-email" placeholder="Email" name="email">
                    </div>
                    <div class="message-form__inner message-form__inner--message">
                        <label class="u-visuallyhidden -hidden" for="message">Message</label>
                        <textarea class="message-form__field message-form__field--message" type="text" id="message"
                            placeholder="Message" minlength="4" maxlength="150" name="message"></textarea>
                    </div>
                </fieldset>
                <div class="message-form__submit">
                    <button class="message-form__submit-btn btn" type="submit">Hit us up!</button>
                </div>
            </form>
            <p class="message-section__text">This site is protected by reCAPTCHA and the Google <a
                    class="message-section__link" href="#">Privacy Policy</a> and <a class="message-section__link"
                    href="#">Terms of Service</a> apply.
            </p>
        </div>
    </div>
</section>
