<section class="modal">
    <div class="modal__inner">
        <div class="modal__age">21+</div>
        <h1 class="modal__title">Please, Verify Your Age</h1>
        <p class="modal__text">You need to be 21+ years old to view content on this website or purchase our products.</p>
        <a class="btn modal__btn modal__btn--over" href="index.html">I am over 21</a>
        <a class="btn modal__btn modal__btn--under" href="https://disney.com/" target="_blank" rel="noopener nofollow">i am under 21</a>
    </div>
</section>
