<section class="wheel">
    <div class="wheel__container container">
        <a class="wheel__link-logo" href="index.html" aria-label="logo AVS">
            <img class="wheel__logo-mobile" src="/img/logo/logo-mobile-white.png"
                srcset="/img/logo/logo-mobile-white@2x.png 2x" width="142" height="40" alt="logo AVS" />
            <img class="wheel__logo-desktop" src="/img/logo/logo-desktop-white.png"
                srcset="/img/logo/logo-desktop-white@2x.png 2x" width="159" height="45" alt="logo AVS" />
        </a>
        <div class="wheel__wrap">
            <div class="wheel__wrapper">
                <h1 class="wheel__title">Try your luck</h1>
                <p class="wheel__text">ready to try and win big? let’s give the wheel a spin!</p>
                <div class="wheel__note">*You only have one spin of wheel</div>
                <form class="wheel__form form-email" action="#" method="post">
                    <label class="wheel__label u-visuallyhidden" for="wheel-email">Email</label>
                    <input class="wheel__input form-email__input" type="email" placeholder="Email" name="email"
                        id="wheel-email" />
                    <button class="wheel__btn btn" type="submit">Run the wheel of fortune</button>
                </form>
                <div class="wheel__close">
                    <p class="wheel__close-text">No, thanks</p>
                    <span class="wheel__close-btn"></span>
                </div>
            </div>
            <div class="wheel__box">
                <img class="wheel__spinner" src="/img/wheel.png" alt="Wheel fortune">
            </div>
        </div>
    </div>
</section>
