<ul class="nav__list nav__list--lvl3">
    <li class="nav__item nav__item--lvl3">
        <a class="nav__link nav__link--lvl3">Fruity</a>
    </li>
    <li class="nav__item nav__item--lvl3">
        <a class="nav__link nav__link--lvl3">Sweet</a>
    </li>
    <li class="nav__item nav__item--lvl3">
        <a class="nav__link nav__link--lvl3">Tobacco</a>
    </li>
    <li class="nav__item nav__item--lvl3">
        <a class="nav__link nav__link--lvl3">Menthol</a>
    </li>
    <li class="nav__item nav__item--lvl3">
        <a class="nav__link nav__link--lvl3">Candy</a>
    </li>
</ul>
