<ul class="nav__list nav__list--lvl2">
    <li class="nav__item nav__item--lvl2">
        <a class="nav__link nav__link--lvl2" href="category.html">Starter Kits</a>
        <span class="nav__arrow nav__arrow--right">
            <svg width="8" height="12">
                <use xlink:href="img/svg.svg#arrow-right"></use>
            </svg>
        </span>
    </li>
    <li class="nav__item nav__item--lvl2">
        <a class="nav__link nav__link--lvl2" href="#">Vape Juices Vape</a>
        <span class="nav__arrow nav__arrow--right">
            <svg width="8" height="12">
                <use xlink:href="img/svg.svg#arrow-right"></use>
            </svg>
        </span>
        {% include "templates/blocks/nav-list-lvl3.jinja" %}
    </li>
    <li class="nav__item nav__item--lvl2">
        <a class="nav__link nav__link--lvl2" href="#">Nik Salt eJuice</a>
        <span class="nav__arrow nav__arrow--right">
            <svg width="8" height="12">
                <use xlink:href="img/svg.svg#arrow-right"></use>
            </svg>
        </span>
    </li>
    <li class="nav__item nav__item--lvl2">
        <a class="nav__link nav__link--lvl2" href="#">Vape Devices</a>
        <span class="nav__arrow nav__arrow--right">
            <svg width="8" height="12">
                <use xlink:href="img/svg.svg#arrow-right"></use>
            </svg>
        </span>
    </li>
    <li class="nav__item nav__item--lvl2">
        <a class="nav__link nav__link--lvl2" href="#">Wax Devices</a>
        <span class="nav__arrow nav__arrow--right">
            <svg width="8" height="12">
                <use xlink:href="img/svg.svg#arrow-right"></use>
            </svg>
        </span>
    </li>
    <li class="nav__item nav__item--lvl2">
        <a class="nav__link nav__link--lvl2" href="#">DIV Herb Vaporizers</a>
        <span class="nav__arrow nav__arrow--right">
            <svg width="8" height="12">
                <use xlink:href="img/svg.svg#arrow-right"></use>
            </svg>
        </span>
    </li>
    <li class="nav__item nav__item--lvl2">
        <a class="nav__link nav__link--lvl2" href="#">Accessories</a>
        <span class="nav__arrow nav__arrow--right">
            <svg width="8" height="12">
                <use xlink:href="img/svg.svg#arrow-right"></use>
            </svg>
        </span>
    </li>
</ul>
