<form class="nav-search" action="" method="get">
<div class="nav-search__form">
        <div class="nav-search__wrapper">
            <label class="nav-search__title u-visuallyhidden" for="search">Search</label>
            <input class="nav-search__input" id="search" type="text" placeholder="Search" name="search" tabindex="1" />
        </div>
        <button class="nav-search__btn" type="submit">
            <span class="u-visuallyhidden">start searching</span>
        </button>
    </form>
</div>
