<section class="reviews">
    <div class="container reviews__container">
        <h2 class="reviews__title">Read Our Testimonials</h2>
        <a href="#" class="reviews__rating-link">
            <div class="google-rating">
                <p class="google-rating__logo">
                    <svg width="167" height="19">
                        <use xlink:href="img/svg.svg#google-buisness"></use>
                    </svg>
                </p>
                <div class="google-rating__wrapper">
                    <span class="google-rating__value">4.8</span>
                    <div class="google-rating__block" aria-label="4.8 rating">
                        <div class="google-rating__star"></div>
                        <div class="google-rating__star"></div>
                        <div class="google-rating__star"></div>
                        <div class="google-rating__star"></div>
                        <div class="google-rating__star google-rating__star--half"></div>
                    </div>
                    <span class="google-rating__counter">(132 reviews)</span>
                </div>
            </div>
        </a>
        <div class="reviews__wrapper">
            <ul class="reviews__list">
                {% for index in range(6) %}
                <li class="reviews__item">
                    <h3 class="reviews__name">Andrea Cruz</h3>
                    <div class="reviews__rating" aria-label="five star rating">
                        <div class="reviews__star"></div>
                        <div class="reviews__star"></div>
                        <div class="reviews__star"></div>
                        <div class="reviews__star"></div>
                        <div class="reviews__star"></div>
                    </div>
                    <p class="reviews__text">Had a problem with my product and the guys here were very
                        understanding and went above and beyond! Great service which is why I keep shopping here. The
                        other location was just as awesome on S1st. Also, Ive had good experiences with the one time I
                        opened a chat with an online rep. All around great service from every single person!</p>
                </li>
                {% endfor %}
            </ul>
            <div class="reviews-slider swiper">
                <button class="swiper__btn reviews-slider__btn swiper__btn--left">
                    <svg width="6" height="11">
                        <use xlink:href="img/svg.svg#swiper-left"></use>
                    </svg>
                </button>
                <div class="reviews-slider__item reviews-slider__item--active"></div>
                <div class="reviews-slider__item"></div>
                <div class="reviews-slider__item"></div>
                <div class="reviews-slider__item"></div>
                <button class="swiper__btn reviews-slider__btn swiper__btn--right">
                    <svg width="6" height="11">
                        <use xlink:href="img/svg.svg#swiper-right"></use>
                    </svg>
                </button>
            </div>
        </div>
        <a class="reviews__link link" href="#">Rate our products,
            leave a review!</a>
    </div>
</section>
