<section class="shipping">
    <div class="container shipping__container">
        <div class="shipping__inner">
            <div class="shipping__wrapper">
                <h2 class="shipping__title">Free shipping</h2>
                <p class="shipping__text">When you order $75 or more</p>
            </div>
        </div>
    </div>
</section>
