<ul class="social-list">
    <li class="social-list__item social-list__item--instagram">
        <a class="social-list__link social-list__link--instagram" href="https://www.instagram.com/" target="_blank" rel="noopener nofollow"
            aria-label="Follow our Instagram">
            <svg width="20" height="20">
                <use xlink:href="img/svg.svg#instagram"></use>
            </svg>
        </a>
    </li>
    <li class="social-list__item social-list__item--facebook">
        <a class="social-list__link social-list__link--facebook" href="https://ru-ru.facebook.com/" target="_blank" rel="noopener nofollow"
            aria-label="Follow our Facebook">
            <svg width="8" height="16">
                <use xlink:href="img/svg.svg#facebook"></use>
            </svg>
        </a>
    </li>
</ul>
