<section class="subscribe">
  <div class="container subscribe__container">
    <div class="subscribe__inner-title">
      <h2 class="subscribe__title">
        Immediately know about our sales and new products
      </h2>
    </div>
    <div class="subscribe__box">
      <form class="subscribe__form form-email" action="#" method="post">
        <label class="subscribe__label u-visuallyhidden" for="subscribe-email"
          >Email</label
        >
        <input
          class="subscribe__input form-email__input"
          type="email"
          placeholder="Email"
          name="email"
          id="subscribe-email"
        />
        <button class="subscribe__btn btn" type="submit">Hit us up!</button>
      </form>
    </div>
  </div>
</section>
