.message-section {
  min-width: 320px;
  background-image: linear-gradient(234.5deg, #f84444 1.91%, #f5a623 100%);
  background-repeat: no-repeat;

  &__container {
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    padding-bottom: 26px;

    @media (min-width: $media-tablet) {
      flex-direction: row;
    }

    @media (min-width: $media-tablet-landscape) {
      padding-bottom: 91px;
      padding-top: 98px;
    }
  }

  &__title {
    margin: 0 20px 22px 0;
    font-family: $font-decorative-family;
    font-weight: 700;
    font-size: 28px;
    line-height: calc(34 / 28);
    max-width: 479px;

    @media (min-width: 600px) {
      font-size: 33px;
      line-height: calc(40 / 33);
    }

    @media (min-width: $media-desktop) {
      font-size: 50px;
      line-height: calc(60 / 50);
      margin: 0 122px 22px 0;
    }
  }

  &__wrapper {
    max-width: 390px;
  }

  &__text {
    margin: 0;
    font-size: 14px;
    line-height: calc(21 / 14);
  }

  &__link {
    color: #222;
  }
}
