.reviews-slider {
  min-width: 77px;
  display: flex;
  align-items: center;
  padding-top: 17px;
  padding-bottom: 23px;

  &__item {
    width: 8px;
    height: 8px;
    background-color: $color-orange;
    border-radius: 50%;
    margin: 0 8px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    opacity: 0.6;
  }

  &__item--active {
    opacity: 1;
  }

  &__btn {
    position: relative;

    @media (max-width: 1199px) {
      display: none;
    }

    svg {
      position: absolute;
      top: 10px;
      left: 12px;
    }
  }
}
