.sort-category {
  display: flex;
  margin-bottom: 30px;

  &__item {
    flex: 0 0 auto;
    margin-right: 10px;
  }

  &__label {
    color: $color-text;
    font-size: 12px;
    font-weight: 400;
    line-height: calc(14 / 12);
    text-transform: capitalize;
    border: 1px solid $color-text;
    border-radius: 200px;
    padding: 10px;

    &:first-of-type {
      padding: 10px 20px;
    }

    &:hover {
      color: $color-orange;
      border: 1px solid $color-orange;
    }
  }

  input[type="radio"]:checked + label {
    color: #8c8c8c;
    border: 1px solid #8c8c8c;
  }
}
