/*
  System font stack used as base sans-serif and monospace
  https://css-tricks.com/snippets/css/system-font-stack/
*/
$font-serif-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol";
$font-mono-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
  "Courier New", monospace;

/*
  Themes fonts
*/
$font-base-family: Rubik, $font-serif-family;
$font-decorative-family: "Merienda", $font-serif-family;

$font-base-size-unit: 16;
$font-base-size: 16px;

/*
* Breakpoints
*/

$media-tablet: 768px;
$media-tablet-landscape: 1024px;
$media-desktop: 1200px;

/*
* Colors
*/

$color-bg: #181b19;
$color-text: #fff;
$color-green: #6bd85b;
$color-orange: #f69e27;
$color-grey: #bcbcbc;
$color-pink: #f4306d;
$color-blue: #004bbb;
$color-grey-footer: #d3d3d3;
$color-dark-grey: #292a2e;
$color-light-grey: #393a3f;
$color-blue-header: #003b71;
$color-dark-purple: #1e123e;
$color-dark-orange: #cd8728;
