<footer class="footer">
    <div class="container footer__container">
        <div class="footer-nav">
            <ul class="footer-nav__list">
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">About avs</a>
                </li>
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">Privacy policy</a>
                </li>
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">Terms and conditions</a>
                </li>
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">Account details</a>
                </li>
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">Contact</a>
                </li>
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">Shipping policy</a>
                </li>
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="#">Refund policy</a>
                </li>
            </ul>
        </div>
        <div class="tel">
            <a class="tel__link link" href="tel:5125510420" aria-label="Our phone number">512-551-0420</a>
        </div>
        <div class="open-time">
            <h4 class="open-time__title">store hours:</h4>
            <div class="open-time__text">MON-SAT 9 AM - 10 PM</div>
            <div class="open-time__text">SUN 11 AM - 7 PM</div>
        </div>
        <div class="footer__address">
            <a class="footer__address-link link" href="#locations">All addresses of austin vape and smoke</a>
        </div>
        <div class="footer__social">
            {% include "templates/blocks/social-list.jinja" %}
        </div>
        <div class="payment">
            <img src="img/credit-cards.png" width="168" height="32" alt="We accept visa mastercard american express">
        </div>
        <div class="copyright">
            <span class="copyright__text">Copyright 2020 © Austin Vape and Smoke</span>
        </div>
        <a class="company-name" href=" https://directlinedev.com/" target="_blank" rel="noopener nofollow">Web Design — Direct Line Development</a>
    </div>
</footer>
